# Python
__pycache__/
.pytest_cache
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.venv/

# Environment variables
.env
Codigo/.env

# IDE/editor
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
